# Created by .ignore support plugin (hsz.mobi)
.cache
scalastyle-output.xml
.classpath
.idea
.metadata
.settings
.project
.version.properties
filter.properties
logs.zip
target
tmp
*.class
*.iml
*.swp
*.jar
*.zip
*.log
*.pyc
.DS_Store
build-targetatlassian-ide-plugin.xml
*.ipr
*.iws
docs/_build
.idea/
adbusiness.iml
target/classes/
target/generated-sources/
target/maven-archiver/
target/maven-status/
